
<!--List-->
<div class="row" id="rowList">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading panel-supervisor">
                <span class="pull-left"><span name="lbl" caption="heatingsystems">heatingsystems</span>&nbsp;<span id="DesImpianto"></span></span>
                <span class="tools pull-right"> 
                    <a href="javascript:;" class="fa fa-chevron-down"></a>                   
                </span>               
                <div class="clearfix"></div>
            </header>
            <div class="panel-body" style="position: relative;height:500px; overflow-y:auto;overflow-x:auto;">
                <table class="table table-striped  table-hover cf">
                    <thead>
                        <tr>
                            <th><div>ID</div></th>
                            <th><span name="lbl" caption="description">description</span> </th>
                            <th><span name="lbl" caption="installationaddress">Address</span></th>
                            <th><span name="lbl" caption="status">status</span></th>
                            <th><span name="lbl" caption="standby">standby</span></th>
                            <th><span name="lbl" caption="connected">connected</span></th>
                        </tr>
                    </thead>
                    <tbody id="ListHeatingSystem"></tbody>
                </table>
            </div>            
            <footer class="panel-footer">
                <span class="pull-right">
                    <a  href="javascript:selSynoptic();" class="btn btn-info btn-sm" style="width:70px;"><span name="lbl" caption="synoptic">synoptic</span></a>                    
                </span>
                <div class="clearfix"></div>
            </footer>
        </section>
    </div>
</div>
<!--/List-->


<!--Edit-->
<div class="row" id="rowEdit" style="display:none;">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading panel-supervisor">
                <span name="lbl" caption="edit">edit</span>&nbsp;
                <span name="lbl" caption="heatingsystem">heatingsystem</span>
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a id="btnCloseUpd" href="javascript:;"><i class="fa fa-times"></i></a>
                </span>
            </header>
            <div class="panel-body">
                <div>
                    <form class="form-horizontal" role="form">
                        <input type="hidden" id="hsId_Upd" />
                        <input type="hidden" id="connectionType_Upd">
                        <input type="hidden" id="MapId_Upd">
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="Descr_Upd"><span name="lbl" caption="description">Description</span></label>
                            <div class="col-xs-6">
                                <input type="text" id="Descr_Upd" class="form-control" placeholder="Description" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="Indirizzo_Upd"><span name="lbl" caption="installationaddress">Address</span></label>
                            <div class="col-xs-6">
                                <input type="text" id="Indirizzo_Upd" class="form-control" placeholder="Address" />
                            </div>
                            <div class="col-xs-2">
                                <a href="#" id="btnSearchOnMap_Upd"><i class="fa fa-search"></i>&nbsp;<span name="lbl" caption="search">Search</span></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="Latitude_Upd"><span name="lbl" caption="Latitude">Latitude</span></label>
                            <div class="col-xs-6">
                                <input type="text" id="Latitude_Upd" class="form-control" placeholder="sea level altitude (meters)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="Longitude_Upd"><span name="lbl" caption="Longitude">Longitude</span></label>
                            <div class="col-xs-6">
                                <input type="text" id="Longitude_Upd" class="form-control" placeholder="sea level altitude (meters)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="AltSLM_Upd"><span name="lbl" caption="installationAltitude">Altitude</span></label>
                            <div class="col-xs-6">
                                <input type="text" id="AltSLM_Upd" class="form-control" placeholder="sea level altitude (meters)" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="Note_Upd">Note</label>
                            <div class="col-xs-6">
                                <textarea id="Note_Upd" rows="2" style="width:100%;" class="form-control"></textarea>
                            </div>
                        </div> 

                    </form>
                </div>
            </div>
            <footer class="panel-footer">
                <span class="tools pull-right">
                    <a href="#" id="btnUpdate" class="btn btn-default"><i class="fa fa-save">&nbsp;</i><span name="lbl" caption="save">Save</span></a>
                </span>
                <div class="clearfix"></div>
            </footer>
        </section>
    </div>
</div>
<!--/Edit-->
<!--google map-->
<div class="row" id="rowMap" style="display:none;">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <span class="pull-left"><span name="lbl" caption="map">Map</span></span>
                <span class="tools pull-right">
                    <a href="#" id="btnSetAddress"><i class="fa fa-map-marker"></i><span name="lbl" caption="setaddress">Set address</span></a>
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                </span>
                <div class="clearfix"></div>
            </header>
            <div class="panel-body" style="padding:0 !important;">
                <div id="googlemap" style="position: relative;top: 0px;bottom: 0;left: 0;right: 0;"></div>
            </div>
        </section>
    </div>
</div>
<!--/google map-->


<!--templates-->
<script type="text/x-jquery-tmpl" id="tmplHeatingSystemList">
<tr>
    <td><span class="label label-primary">${hsId}</span></td>
    <td><b>${Descr}</b></td>
    <td>${Indirizzo}</td>
    <td>
        {{if stato==0}}
            <img src="images/action_success.png" style="height:24px;width:24px" />
        {{else}}
            {{if stato==1}}
                <img src="images/status1.png" style="height:24px;width:24px" />
            {{else}}
                <img src="images/status2.png" style="height:24px;width:24px" />
            {{/if}}
        {{/if}}
    </td>
    <td>
        {{if MaintenanceMode}}       
         <i class="fa fa-wrench fa-2x"></i>
        {{else}}
          <i class="fa fa-thumbs-o-up fa-2x"></i>
        {{/if}}
    </td>
    <td>
        {{if isOnline}}
        <i class="fa fa-thumbs-o-up fa-2x"></i>
        {{else}}
        <i class="fa fa-thumbs-o-down fa-2x"></i>
        {{/if}}
    </td>

    <td>
        <span class="btn-group pull-right">
            <!--<a id="bntSynoptic_${hsId}" href="javascript:selSynoptic('${hsId}');" class="btn btn-info btn-sm" style="width:70px;"><span name="lbl" caption="synoptic">synoptic</span></a>-->
            <a href="javascript:sel('${hsId}');" class="btn btn-info btn-sm" style="width:70px;"><span name="lbl" caption="select">Select</span></a>
            <a href="javascript:callUpdate('${hsId}');" class="btn btn-default btn-sm"><span name="lbl" caption="edit">Edit</span></a>
        </span>
    </td>
</tr>
<tr>
    <td colspan="4">
        <textarea id="Note" rows="2" cols="80" class="form-control">${Note}</textarea>
    </td>
    <td>
        <a href="javascript:CalhsDoc(${hsId})" class="btn btn-default btn-sm btn-primary"><span id="totDoc_${hsId}" class="badge label-info pull-left r-activity">0</span></a>
        <br /><span name="lbl" caption="documents">documents</span>
    </td>
    <td>
        <a href="javascript:CalhsTickets( ${hsId} )" class="btn btn-default btn-sm btn-primary"> <span id="totTickets_${hsId}" class="badge label-danger pull-left r-activity">0</span></a>
        <br />Tickets
    </td>
    <td class="pull-right" >
        <a href="javascript:$.fn.businesshour('${hsId}');" class="btn btn-primary btn-sm"><span name="lbl" caption="hs_businesshours">hs_businesshours</span></a>

    </td>
</tr>
</script>


<script type="text/x-jquery-tmpl" id="tmplgoback">
    <li class="current">
        <a href="javascript:go2Backoffice();"><i class="fa fa-tasks"></i><span name="lbl" caption="Installations">Installations</span></a>
    </li>
</script>

<script type="text/x-jquery-tmpl" id="tmplpageOperation">
    <div class="pull-left breadcrumb_system">
        <a href="javascript:selSynoptic();" class="btn btn-round btn-info"> <i class="fa fa-image fa-2x"></i></a><span name="lbl" caption="synoptic">synoptic</span>
    </div>
</script>

<script type="text/x-jquery-tmpl" id="tmplgoback">
    <li class="current">
        <a href="javascript:go2Backoffice();"><i class="fa fa-tasks"></i><span name="lbl" caption="Installations">Installations</span></a>
    </li>
</script>

<!--/templates-->


<script src="js/app/core/managelang.js" type="text/javascript"></script>
<script src="js/app/Impianti/Supervisors/ManageDevice8.js" type="text/javascript"></script>